@model Course
<div class="row justify-content-center">
    <div class="col-8">
        <div class="card">
            <img src="~/img/@Model.Image" class="card-img-top" />
            <div class="card-body">
                <h5 class="card-text">@Model.Title</h5>
                <p class="card-text">@Model.Description</p>
                <a href="#" class="card-link">İncele</a>
            </div>
        </div>
    </div>
</div>