@* @model Course[] *@
@model List<Course>
<h3 class="mb-3">Tüm Kurslar</h3>
<div class="row">
    @foreach (var kurs in Model)
    {
        <div class="col-md-4">
            @await Html.PartialAsync("_CourseCard",kurs)
        </div>
    }
</div>